{% extends 'layout.html'%}

{% block body %}
<h1 style="color:white;">{{ session["userName"]}} Orders</h1>

<table class="table table-striped" style="color: white;">
	<tr>
		<th>ID</th>
		<th>dish Name</th>
		<th>user Name</th>
		<th>number of dish</th>
		<th>process methods </th>
		<th>order date</th>
		<th></th>
		<th></th>
	</tr>
	{% for order in orders%}
		<tr>
			<td>{{order.orderID}}</td>
			<td>{{order.dishName}}</td>
			<td>{{order.userName}}</td>
			<td>{{order.number_dish}}</td>
			<td>{{order.process_methods}}</td>
			<td>{{order.order_date}}</td>
			<td><a href="/menu/order/edit/{{ order.orderID}}" class="btn btn-primary pullright">Edit </a></td>
			<td><a href="/menu/order/delete_order/{{ order.orderID}}" class="btn btn-danger pullright">Delete </a></td>
		</tr>
	{% endfor %}
</table>
	<footer>
		<p id="copyright">&copy; Copyright @2020</p>
	</footer>

{% endblock%}