{% extends 'layout.html'%}

{% block body %}

<h1 style="color: white; ">Edit Order!</h1>
<p style="color: white; ">You can EDIT your orders !!!!!! what a surrrrrprise~~</p>
{% from "includes/_formhelpers.html" import render_field %}
<form action=" 	" method="POST">
	<div class="form-group">
		{{render_field(form.dishName, class_="form-control")}}
	</div>
	<div class="form-group">
		{{render_field(form.process_methods, class_="form-control")}}
	</div>
	<div class="form-group">
		{{render_field(form.number, class_="form-control")}}
	</div>

	<p><input type="submit" class="btn btn-primary" value="EDIT it NOW!"> </p>
</form>
	<footer>
		<p id="copyright">&copy; Copyright @2020</p>
	</footer>

{% endblock %}